<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir JSON y OCR</title>

</head>

<body>

  <nav>
    <ul>
      <a href="/subir">Tools</a>
    </ul>
  </nav>

  <h1>Subir JSON Con Estructura</h1>

  <p>Estructura del JSON:</p>
  <pre>
{
    "anverso": "codigo_base_64_de_imagen...anverso",
    "reverso": "codigo_base_64_de_imagen...reverso"
}
</pre>

  <section>
    <h2>Subir archivo JSON:</h2>

    <div class="upload-container">
      Arrastra y suelta un archivo JSON aquí o haz clic para seleccionarlo
      <input type="file" id="jsonFile" accept=".json">
    </div>

    <br><br>
    <button id="submitJson">Enviar al servidor</button>

    <h3>Previsualización del Anverso</h3>
    <img id="anversoImage" alt="Imagen del Anverso">

    <h3>Previsualización del Reverso</h3>
    <img id="reversoImage" alt="Imagen del Reverso">

    <!-- Elemento para mostrar la respuesta JSON del servidor -->
    <h3>Resultado General JSON respuesta</h3>
    <pre id="serverResponse"></pre>

    <h3>Resultados:</h3>
    <p>Es Foto de Anverso? <span id="resultAnverso"></span></p>
    <p>Es Foto de Reverso? <span id="resultReverso"></span></p>
  </section>

  <section>
    <h2>Pruebas OCR</h2>

    <!-- Sección para subir imagen -->
    <div class="upload-container">
      Arrastra y suelta una imagen aquí o haz clic para seleccionarla
      <input type="file" id="ocrImage" accept="image/*">
    </div>
    <br>

    <!-- Visualizar la imagen subida -->
    <img id="uploadedImage" alt="Imagen subida">

    <!-- Botón para iniciar OCR -->
    <button id="startOcr">Capturar texto con OCR</button>

    <!-- Visualizar el texto obtenido -->
    <pre id="ocrResult"></pre>
  </section>

  <script src="{{ url_for('static', filename='pruebas.js') }}"></script>
</body>

</html>