<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo e Imagen</title>
</head>

<body>
    <nav>
        <ul>
            <a href="/pruebas">Pruebas</a>
        </ul>
    </nav>

    <h1>Leer QR</h1>

    <!-- Formulario para subir la imagen -->
    <form id="qrForm" enctype="multipart/form-data">
        <input type="file" name="image" id="image" accept="image/*">

        <div class="image-preview">
            <img id="qrPreview" src="" alt="Vista previa del QR">
        </div>
        <br>
        <button type="button" onclick="submitQRForm();">Enviar</button>
        <div id="qrText"></div>
    </form>

    <h1>Subir Imágenes Anverso y Reverso</h1>

    <!-- Formulario para subir las imágenes anverso y reverso -->
    <form id="imagesForm" enctype="multipart/form-data">
        <div class="image-preview">
            <img id="anversoPreview" src="" alt="Vista previa del anverso">
        </div>
        <input type="file" name="anverso" id="anverso" accept="image/*">

        <div class="image-preview">
            <img id="reversoPreview" src="" alt="Vista previa del reverso">
        </div>
        <input type="file" name="reverso" id="reverso" accept="image/*">

        <br>
        <button type="button" onclick="generateJSON();">Obtener JSON</button>
    </form>

    <script>
        document.getElementById('image').onchange = function () {
            let file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('qrPreview').src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        };

        function submitQRForm() {
            var formData = new FormData(document.getElementById('qrForm'));
            fetch('/leerqr', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    var qrText = data.contenido_qr;
                    document.getElementById('qrText').innerText = qrText;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        document.getElementById('anverso').onchange = function () {
            displayImagePreview(this, 'anversoPreview');
        };

        document.getElementById('reverso').onchange = function () {
            displayImagePreview(this, 'reversoPreview');
        };

        function displayImagePreview(inputElement, previewElementId) {
            let file = inputElement.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(previewElementId).src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        }

        function generateJSON() {
            let anversoFile = document.getElementById('anverso').files[0];
            let reversoFile = document.getElementById('reverso').files[0];

            if (!anversoFile || !reversoFile) {
                alert("Por favor, sube ambas imágenes (anverso y reverso) antes de generar el JSON.");
                return;
            }

            let anversoData, reversoData;
            let reader1 = new FileReader();
            reader1.onload = function (e) {
                anversoData = e.target.result.split(',')[1];

                let reader2 = new FileReader();
                reader2.onload = function (e) {
                    reversoData = e.target.result.split(',')[1];
                    let json = {
                        "anverso": anversoData,
                        "reverso": reversoData
                    };

                    let dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(json));
                    let downloadAnchorNode = document.createElement('a');
                    downloadAnchorNode.setAttribute("href", dataStr);
                    downloadAnchorNode.setAttribute("download", "imagenes.json");
                    downloadAnchorNode.click();
                    downloadAnchorNode.remove();
                }
                reader2.readAsDataURL(reversoFile);
            }
            reader1.readAsDataURL(anversoFile);
        }
    </script>
</body>

</html>