<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo e Imagen</title>
    <style>
        .drag-area,
        .image-preview {
            width: 300px;
            height: 150px;
            border: 2px dashed #ccc;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            margin-top: 15px;
            margin-right: 20px;
        }

        .image-preview img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>

<body>

    <h1>Imagen b64 a .png</h1>

    <!-- Formulario para subir el archivo -->
    <form id="myForm" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept=".json, .txt" style="display: none;">
        <div class="drag-area" onclick="document.getElementById('file').click();">
            Haz clic o arrastra el archivo aquí
        </div>
        <div class="image-preview">
            <img id="imagePreview" src="" alt="Vista previa de la imagen">
        </div>
        <br>
        <button type="button" onclick="submitForm();">Enviar</button>
    </form>

    <h1>Leer QR</h1>

    <!-- Formulario para subir la imagen -->
    <form id="qrForm" enctype="multipart/form-data">
        <input type="file" name="image" id="image" accept="image/*" style="display: none;">
        <div class="drag-area" onclick="document.getElementById('image').click();">
            Haz clic o arrastra la imagen aquí
        </div>
        <div class="image-preview">
            <img id="qrPreview" src="" alt="Vista previa del QR">
        </div>
        <br>
        <button type="button" onclick="submitQRForm();">Enviar</button>
        <div id="qrText" style="margin-top: 10px;"></div>
    </form>

    <h1>Subir Imágenes Anverso y Reverso</h1>

    <!-- Formulario para subir las imágenes anverso y reverso -->
    <form id="imagesForm" enctype="multipart/form-data">
        <input type="file" name="anverso" id="anverso" accept="image/*" style="display: none;">
        <div class="drag-area" onclick="document.getElementById('anverso').click();">
            Haz clic o arrastra la imagen de anverso aquí
        </div>
        <div class="image-preview">
            <img id="anversoPreview" src="" alt="Vista previa del anverso">
        </div>

        <input type="file" name="reverso" id="reverso" accept="image/*" style="display: none;">
        <div class="drag-area" onclick="document.getElementById('reverso').click();">
            Haz clic o arrastra la imagen de reverso aquí
        </div>
        <div class="image-preview">
            <img id="reversoPreview" src="" alt="Vista previa del reverso">
        </div>
        <br>
        <button type="button" onclick="generateJSON();">Obtener JSON</button>
    </form>

    <script>
        document.getElementById('file').onchange = function () {
            let fileName = this.value.split('\\').pop();
            this.nextElementSibling.innerText = fileName;
        };

        document.getElementById('image').onchange = function () {
            let file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('qrPreview').src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        };

        function submitForm() {
            var formData = new FormData(document.getElementById('myForm'));
            fetch('/subirImagen', {
                method: 'POST',
                body: formData
            })
                .then(response => response.blob())
                .then(imageBlob => {
                    var imageUrl = URL.createObjectURL(imageBlob);
                    document.getElementById('imagePreview').src = imageUrl;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function submitQRForm() {
            var formData = new FormData(document.getElementById('qrForm'));
            fetch('/leerqr', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    var qrText = data.contenido_qr;
                    document.getElementById('qrText').innerText = qrText;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        document.getElementById('anverso').onchange = function () {
            displayImagePreview(this, 'anversoPreview');
        };

        document.getElementById('reverso').onchange = function () {
            displayImagePreview(this, 'reversoPreview');
        };

        function displayImagePreview(inputElement, previewElementId) {
            let file = inputElement.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(previewElementId).src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        }

        function generateJSON() {
            let anversoFile = document.getElementById('anverso').files[0];
            let reversoFile = document.getElementById('reverso').files[0];

            if (!anversoFile || !reversoFile) {
                alert("Por favor, sube ambas imágenes (anverso y reverso) antes de generar el JSON.");
                return;
            }

            let anversoData, reversoData;
            let reader1 = new FileReader();
            reader1.onload = function (e) {
                anversoData = e.target.result.split(',')[1];

                let reader2 = new FileReader();
                reader2.onload = function (e) {
                    reversoData = e.target.result.split(',')[1];
                    let json = {
                        "anverso": anversoData,
                        "reverso": reversoData
                    };

                    let dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(json));
                    let downloadAnchorNode = document.createElement('a');
                    downloadAnchorNode.setAttribute("href", dataStr);
                    downloadAnchorNode.setAttribute("download", "imagenes.json");
                    downloadAnchorNode.click();
                    downloadAnchorNode.remove();
                }
                reader2.readAsDataURL(reversoFile);
            }
            reader1.readAsDataURL(anversoFile);
        }
    </script>

</body>

</html>